<div class="container">
    <div class="overlay">
        <header>
            <!-- Jumbotron -->
            <div class="p-5 text-center bg-secondary">
              <h1 class="mb-8">Shopping Cart</h1>
            </div>
            <!-- Jumbotron -->
          </header>
    </div>
    <div class="shopping-cart">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th><h4>Food Item</h4></th>
                <th><h4>Description</h4></th>
                <th><h4>Price</h4></th>
                <th><h4>Quantity</h4></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="fw-bold mb-1">Lasagna</h5>

                    </div>
                  </div>
                </td>
                <td>
                  <h5 class="fw-normal mb-1">Homemade Nana's Lasagna</h5>

                </td>
                <td>
                  <h5>$20.00</h5>
                </td>
                <td><h5>1</h5></td>
                <td>
                  <button type="button" class="btn btn-link btn-lg btn-rounded bg-danger text-light">
                    Delete
                  </button>
                </td>
              </tr>
             
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="fw-bold mb-1">Tiramisu Slice</h5>

                    </div>
                  </div>
                </td>
                <td>
                  <h5 class="fw-normal mb-1">Creamy, rich homemade Tiramisu</h5>

                </td>
                <td>
                  <h5>$7.00</h5>
                </td>
                <td><h5>1</h5></td>
                <td>
                  <button type="button" class="btn btn-link btn-lg btn-rounded bg-danger text-light">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <br><br>
          <div class="row text-align-center">
            <button type="button" class="btn btn-success btn-rounded"><h2>Submit Order</h2></button>
          </div>
          
    </div>
</div>
