<div class="container">
    <div class="overlay">
        <header>
            <!-- Jumbotron -->
            <div class="p-5 text-center bg-secondary">
              <h1 class="mb-8">Shopping Cart</h1>
            </div>
            <!-- Jumbotron -->
          </header>
    </div>
    <div class="shopping-cart">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th><h4>Food Item</h4></th>
                <th><h4>Description</h4></th>
                <th><h4>Price</h4></th>
                <th><h4>Quantity</h4></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let foodItem of product;let i= index">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="fw-bold mb-1">{{foodItem.foodName}}</h5>

                    </div>
                  </div>
                </td>
                <td>
                  <h5 class="fw-normal mb-1">{{foodItem.description}}</h5>

                </td>
                <td>
                  <h5>{{foodItem.price}}</h5>
                </td>
                <td><h5>1</h5></td>
                <td>
                  <button type="button" class="btn btn-link btn-lg btn-rounded bg-danger text-light" (click)="removeItem(foodItem)">
                    Delete
                  </button>
                </td>
              </tr>
          
            </tbody>
          </table>
          <br>
          
          
          <div class ="row">
            <app-offer></app-offer>
            <router-outlet></router-outlet>
          </div>
          
          <br><br>
        <div class ="row">
            <a [routerLink]="['/food-menu', id]">
              <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"><h2>Back to Food Menu</h2></button>
            </a>

            <a [routerLink]="['/order-confirmation', id]">
              <button type="button" class="btn btn-success btn-rounded"><h2>Submit Order</h2></button>
            </a>
        </div>
    </div>
</div>
              