<div class="container">
    <div class="overlay">
        <header>
            <!-- Jumbotron -->
            <div class="p-5 text-center bg-secondary">
              <h1 class="mb-8">Shopping Cart</h1>
            </div>
            <!-- Jumbotron -->
          </header>
    </div>
    <br>
    <h3 class="mb-3 text-center">Food ordered</h3>
    <div class="container">
        <table class="table table-responsive">
            <thead>
              <tr>
                <th>Food Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let foodItem of product;let i= index">
                <td>
                  {{foodItem.foodName}}
                </td>
                <td>
                  {{foodItem.description}}
                </td>
                <td>
                  {{foodItem.price}}
                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeItem(foodItem)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger" (click)="removeAll()">Remove All Items</button>
          </div>
          <br>
          <br>
          <div class="d-flex justify-content-center">
            <h2>${{grandTotal}}</h2>
          </div>
          <br>
          <br>
          <h3 class="mb-3 text-center">Available Offers (% off)</h3>
          <div class="d-flex justify-content-center">
            <select [(ngModel)]="discount">
              <option *ngFor="let offer of offers" [ngValue]="offer">
                {{offer.discount}}
              </option>
            </select>
          </div>
          <br>
          <div class ="d-flex justify-content-center">
            <a [routerLink]="['/food-menu', id]">
              <button type="button" class="btn btn-primary">Back to Menu</button>
            </a>
            <a>
              <button type="button" class="btn btn-success" (click)="confirmOrder()">Submit Order</button>
            </a>  
          </div>
          <br>
    </div>
</div>
              