<div class="container" id="container1">
    <div class="col-md-6 col-md-offset-3" id="colorDiv">
        <div class="col-md-6 col-md-offset-3" id="innerDiv">
            <div class="page-header">
                <h3>Forgot Password? Fill Form here </h3>
            </div>
            <form>
                <div class="form-group">
                    <label for="userInput">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="userInput">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
                
                <div class="form-group" id="smth">
                    <label for="securityQuestion">Security Question?</label>
                    <select name="secQuest" id="dropdown">
                        <option value="0">Where was your mother born?</option>
                        <option value="1">What was your first car?</option>
                        <option value="2">What was the first name of your first pet?</option>
                        <option value="3">What was your school name?</option>
                        <option value="4">Where were you born?</option>
                        <option value="5">What model your first smartphone was?</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="secQuestAnswer">Type your security question here</label>
                    <input type="text" class="form-control" id="security_question" placeholder="Answer here">
                </div>
            </form>
            <button type="submit">Submit</button>
            <br />
            <div class="footer">
                
            </div>            
        </div>
    </div>    
  </div>
  
