<div class="p-5 text-center bg-light">
  <i class="fas fa-question-circle fa-4x"></i><br /><br />
  <h1 class="mb-3">Forgot Password</h1>
</div>
<br />
<div class="container" id="container1">
  <form>
    <label for="userInput">Username</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />

    <label for="userInput">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />

    <br />
    <label for="securityQuestion">Security Question?</label>
    <select name="secQuest" id="dropdown">
      <option value="0">Where was your mother born?</option>
      <option value="1">What was your first car?</option>
      <option value="2">What was the first name of your first pet?</option>
      <option value="3">What was your school name?</option>
      <option value="4">Where were you born?</option>
      <option value="5">What model your first smartphone was?</option>
    </select>

    <br />

    <label for="secQuestAnswer">Security Question Answer</label>
    <input
      type="text"
      class="form-control"
      id="security_question"
      placeholder="Security Question Answer"
    />
  </form>
  <br />
  <button type="button" class="btn btn-success btn-lg" disabled>
    Reset Password
  </button>
  <br />
</div>
