<div class="container">
  <div class="p-3 text-center bg-light">
    <i class="fas fa-question-circle fa-4x"></i>
    <br>
    <br>
    <h1 class="mb-1">Forgot Password</h1>
  </div>
  <br>
  <form (ngSubmit)="changePassword()" [formGroup]="forgotpassform">
    <div class="form-group">
    <label for="userName">Username</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Username"
      formControlName="userName"
    />

    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      placeholder="Enter Email"
      formControlName="email"
    />
    <div *ngIf="forgotpassform.controls['email'].invalid">
      <p align="right">
        Please enter a valid email
      </p>
    </div>

    <label for="securityQuestion">Security Question</label>
    <select class="form-control" formControlName="securityQuestion">
      <option>Where was your mother born?</option>
      <option>What was your first car?</option>
      <option>What was the first name of your first pet?</option>
      <option>What was your school name?</option>
      <option>Where were you born?</option>
      <option>What model your first smartphone was?</option>
    </select>

    <label for="answer">Answer</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Answer"
      formControlName="answer"
    />
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter password"
      formControlName="password"
    />
    <div *ngIf="forgotpassform.controls['password'].invalid">
      <p align="right">
        Password must be length of 6 or more
      </p>
    </div>
    <br>
    <button class="btn btn-success btn-lg d-flex justify-content-center" [disabled]="!forgotpassform.valid">
      Reset Password
    </button>
  </div>
  </form>


</div>
