<div className='container'>
    <div>
        <div class="d-flex p-2 justify-content-center">Admin Dashboard</div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Vendor Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Wendy's</td>
                        <td>250 W 23rd St</td>
                        <td>
                            <button type="button" class="btn btn-info">View</button>
                            <button type="button" class="btn btn-success">Enable</button>
                            <button type="button" class="btn btn-danger">Disable</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <!-- <div class="d-flex p-2 justify-content-center">FeedBack</div> -->
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Feedback ID</th>
                        <th scope="col">Ratings</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>8/10</td>
                        <td>Good</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
