<div className='container'>
    <div>
        <div class="p-5 text-center bg-light">
            <h2 class="mb-3">Admin Dashboard </h2>
        </div>
        <h4 class="mb-3 text-center">Registered Vendors</h4>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Vendor ID</th>
                        <th scope="col">Vendor Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vendor of vendorData; let i= index">
                        <th scope = "row">{{i+1}}</th>
                        <td>{{vendor.vendorName}}</td>
                        <td>{{vendor.vendorLocation}}</td>
                        <td>
                            <!-- <button type="button" class="btn btn-info">View</button> -->
                            <!-- <button type="button" class="btn btn-success">Enable</button> -->
                            <button type="button" class="btn btn-danger" (click)="onDelete(vendor)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <!-- <div class="d-flex p-2 justify-content-center">FeedBack</div> -->
        <h4 class="mb-3 text-center">Feedbacks</h4>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Feedback ID</th>
                        <th scope="col">Ratings</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let feedback of feedbackData; let i= index">
                        <th scope = "row">{{i+1}}</th>
                        <td>{{feedback.rating}}</td>
                        <td>{{feedback.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>