<header>
    <div class="p-3 text-center bg-light">
      <h1 class="mb-1">Name: {{vendorInfo.vendorName}}</h1>
      <h3>Location: {{vendorInfo.vendorLocation}}</h3>
    </div>
</header>

<ng-container>
    <div class="container">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Food ID</th>
                    <th scope="col">Food Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Food Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let food of fooditem; let i= index">
                    <th scope = "row">{{i+1}}</th>
                    <td>{{food.foodName}}</td>
                    <td>{{food.description}}</td>
                    <td>{{food.price}}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="addToCart(food)">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a routerLink="/user-dashboard">
            <button class="btn btn-warning">Back to Dashboard</button>
        </a>
        <a routerLink="/shopping-cart">
            <button class="btn btn-primary">Go to Cart</button>
        </a>
        
        <!-- <button class="btn btn-danger">Back to Dashboard</button>
        <button class="btn btn-primary" onclick="loginUser()">Go to Cart</button> -->
    </div>
</ng-container>