<div class="container" id="container1">
    <div class="col-md-6 col-md-offset-3" id="colorDiv">
        <div class="col-md-6 col-md-offset-3" id="innerDiv">
            <div class="page-header">
                <h3>Welcom to Food Vendor! </h3>
            </div>
            <form>
                <button type="submit">Login</button>
                <p>Not registered yet? Click here to register</p>
                <br>
                <button type="submit">Register</button>
                <br />
            </form>
            
            <div class="footer">
                
            </div>            
        </div>
    </div>    
  </div>
  