<div class="container">
  <div class="p-2 text-center bg-light fa-3x">
    <i class="fas fa-user-circle"></i>
    <h1 class="mb-1">Login</h1>
  </div>
  <form (ngSubmit)="login()" [formGroup]="loginform">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Username"
        formControlName="userName"
      />

      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter Password"
        formControlName="password"
      />
      <div *ngIf="loginform.controls['password'].invalid">
        <p align="right">Password must be length of 6 or more</p>
      </div>
      <button
        class="btn btn-success d-flex justify-content-center"
        style="width: 100%"
        [disabled]="!loginform.valid"
      >
        Login
      </button>
    </div>
  </form>

  <a
    style="width: 100%"
    class="d-flex justify-content-center"
    routerLink="/register"
  >
    <button class="btn btn-primary">Register</button>
  </a>

  <a
    style="width: 100%"
    class="d-flex justify-content-center"
    routerLink="/forgot-password"
  >
    <button class="btn btn-warning">Forgot Password?</button>
  </a>

  <br />
  <br />
</div>
