.form-group {
  margin: 5px auto;
  width: 52%;
  padding: 0px;
}

select,
input{
  margin: 0px;
  width: 100%;
  padding: 10px;
}

label {
  margin: 5px;
  width: 100%;
  padding: 0px;
}

.btn {
  margin: 10px;
  padding: 10px;
}

