<div class="container">
    <div class="overlay">
      <header>
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-secondary">
          <h1 class="mb-9">Feedback</h1>
        </div>
      </header>
    </div>
    <div class="feedback">
      <form (submit)="createFeedback()" [formGroup]="feedbackform">
        <br /><br />
        <h6>Rating (1-5):</h6>
        <input formControlName="rating" type="number" style="height: 50px" /><br /><br /><br />
        <h6>Feedback Description:</h6>
        <input formControlName="description" type="text" style="height: 100px" /><br /><br />
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-success btn-block mb-4">
          <h4>Submit Feedback</h4>
        </button>
      </form>
    </div>
  </div>