<div class="container">
  <div class="overlay">
    <header>
      <!-- Jumbotron -->
      <div class="p-5 text-center bg-secondary">
        <h1 class="mb-9">Feedback</h1>
      </div>
    </header>
  </div>
  <div class="feedback">
    <form (ngSubmit) = "createFeedback()" [formGroup] = "feedbackform">
      <div class = "form-group">
      <br /><br />
      <h6>Rating (1-5):</h6>
      <input type="number" class="form-control" formControlName = 'rating' style="height: 50px" />
      <br /><br /><br />
      <h6>Feedback Description:</h6>
      <input type="text" class="form-control" formControlName = "description" style="height: 100px" /><br /><br />

      <!-- Submit button -->
      <button type="submit" class="btn btn-success btn-block mb-4">
        <h4>Submit Feedback</h4>
      </button>
    </div>
    </form>
  </div>
</div>
