<div class="container">
  <div class="overlay">
    <header>
      <div class="p-2 text-center bg-light">
        <h1 class="mb-2">Feedback</h1>
      </div>
    </header>
  </div>
  <div class="text-center">
    <form (submit)="createFeedback()" [formGroup]="feedbackform">
      <br /><br />
      <h6>Rating (1-5):</h6>
      <input 
        formControlName="rating"
        type="number"
        style="height: 50px;width: 500px;"
      /><br /><br /><br />
      <h6>Feedback Description:</h6>
      <input
        formControlName="description"
        type="text"
        style="height: 100px;width:500px"
        rows="6"
      /><br /><br />
      <!-- Submit button -->
      <!--    <button routerLink="/user-dashboard" type="submit" style="height:50px; width:px;" class="btn btn-success btn-block mb-4">
          <h5>Submit Feedback</h5>
        </button> -->
      <div class="text-center">
        <a [routerLink]="['/user-dashboard']">
          <button type="submit" class="btn btn-success">Submit Feedback</button>
        </a>
      </div>
    </form>
  </div>
</div>
