.container {
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 3%;
}

.container-img {
  justify-content: center;
  width: 100%;
  padding: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

button {
  margin: 5px;
}

.page-header {
  padding: 5%;
}
